<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="conexstring" connectionString="data source='PENTW\SQLEXPRESS'; initial catalog='baul'; user id= 'sa'; password='8027'"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>